%h1 Listing boxes

%table
  %tr
    %th Id
    %th Name
    %th Hash
    %th Authentication token
    %th Interviewee
    %th
    %th
    %th

  - @boxes.each do |box|
    %tr
      %td= box.id
      %td= box.name
      %td= box.hash
      %td= box.authentication_token
      %td= box.interviewee
      %td= link_to 'Show', box
      %td= link_to 'Edit', edit_box_path(box)
      %td= link_to 'Destroy', box, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Box', new_box_path
